@import "global_variables";
.button {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  background-color: $color_black;
  color: $color_white;
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 188px;
  text-align: center;
  padding: 6px 0 10px;
  max-height: 44px;
  &--active{
  background-color: #858B8F;

  }
}
