@import "global_variables";
.card {
  border-radius: 8px;
  background-color: #f5f7f8;
  padding: 29px 22px 21px;
  font-family: "Commissioner";
  font-style: normal;
  color: $color_black;
  max-width: 232px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  &__info {
    margin: 16px 0 58px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.5;
  }
}
