@import "global_variables";
@import "mixins";
.sentence-link {
  margin: 20px 0;
  max-width: 470px;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $color_black;
  opacity: 0.5;
  &--white {
    color: $color_white;
  }
  &--contact {
    width: 100%;
    max-width: 655px;
    text-align: center;
    margin: 0 auto;
    margin-top: 31px;
  }
  &__link {
    color: $color_black;
    text-decoration: underline;
    &--white {
      color: $color_white;
    }
    &--contact {
      @include gray-link;
      font-weight: 700;
    }
  }
}
