@import "global_variables";
.dealer-form {
  text-align: center;
  width: 100%;
  max-width: 776px;
  font-family: "Commissioner";
  font-style: normal;
  padding: 0 20px;
  z-index: 10;

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: $color_white;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px;
    @media (max-width: map_get($max-width, md)) {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: map_get($max-width, md)) {
      &__inner > input {
        margin-bottom: 8px;
      }
    
    }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.5;
    a {
      font-weight: 700;
      color: #ffffff;
      opacity: 0.5;
      text-decoration-line: underline;
    }
  }
}
