@import "global_variables";

.item {
  border: 2px solid $color_light;
  padding: 17px 15px;
  border-radius: 8px;
  margin: 10px 0;
  font-family: "Commissioner";
  font-style: normal;
  color: $color_dark-gray;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 10px 13px -7px #302f2f6e, 2px 6px 14px 1px rgba(0, 0, 0, 0);
  }
  &__text {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
}

.item:first-child{
  margin-top: 100px;
}