@import "global_variables";
.filter {
  margin-top: 46px;
  
  &__item {
    @media (max-width: map_get($max-width, lg)) {
      max-width: 600px;
      margin: 0 ;
    }
    @media (max-width: map_get($max-width, md)) {
      max-width: 300px;
      // margin: 0 auto;
    }
  }
  &__item > div {
    margin: 3px;
  }

  &__tags {
    display: flex;
    padding: 23px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    flex-wrap: wrap;
    div {
      margin-bottom: 7px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: 23px 0 78px;
    @media (max-width: map_get($max-width, md)) {
      flex-direction: column;
    }
  }
}
.toggle {
  display: flex;
  align-items: center;
  &__text {
    color: $color_white;
    font-family: "Commissioner";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-left: 8px;
  }
  @media (max-width: map_get($max-width, md)) {
    margin-bottom: 20px;
  }
}

.bottom-buttons {
  display: flex;
  @media (max-width: map_get($max-width, md)) {
    flex-direction: column-reverse;
    margin-top: 12px;

  }
}
.bottom-buttons > button {
  &:first-child {
    margin-right: 12px;
    @media (max-width: map_get($max-width, md)) {
      margin-top: 12px;
    }
  }
}
