@import "global_variables";
.filter {
  @media (max-width: map_get($max-width, lg)) {
    margin: 0 18px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    @media (max-width: map_get($max-width, lg)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    color: $color_white;
    font-family: "Commissioner";
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    cursor: pointer;
    @media (max-width: map_get($max-width, lg)) {
      margin-bottom: 28px;
    }
    @media (max-width: map_get($max-width, md)) {
      font-size: 20px;
      line-height: 28px;
    }
    @media (max-width: map_get($max-width, sm)) {
      max-width: 250px;
    }
  }
  &__category {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
  }
}

.arrow {
  margin-left: 10px;
  border: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $color_light-red;
  }
}

.white-arrow {
  padding-bottom: 3px;
  fill: $color_white;
  stroke: $color_white;
  transform: rotate(180deg);
}
