@import "global_variables";
.card-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  border-radius: 8px;
  max-width: 483px;
  overflow: hidden;
  margin: 12px 0;
}
.card {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 15px;
  font-family: "Commissioner";
  font-style: normal;
  color: $color_white;
  z-index: 1;

  &__image {
    object-fit: cover;
    max-width: 125px;
    border-radius: 8px;
  }
  &__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
}
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.info {
  font-family: "Commissioner";
  font-style: normal;
  color: $color_white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
}
.list {
  display: flex;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  li {
    margin-left: 25px;
  }
}
