@import "global_variables";
.login {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $color_black;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 230px;
  justify-content: center;
  height: 70%;
  h1 {
    margin: 20px auto;
  }
  button {
    width: 100%;
  }
  label {
    margin-bottom: 10px;
  }
}
.form > input {
  margin-bottom: 10px;
}
.link {
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: $color_light-gray;
  text-decoration: underline;
}
